@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@



<address>
    <strong>For support click to email one of the persons below:<br /></strong>   <a href="mailto:naconn05@cardmail.louisville.edu">Alex Connor</a> <br />
    <a href="mailto:ktmart04@cardmail.louisville.edu">Kweku Martin</a>
</address>