@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Receipt Log Application</h1>
    <p class="lead">Welcome to this site that will track all your receipts  and help you budget your money much more effeciently!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project E.S.T.I.M.A.T.E</h2>
        <p>
           Estimation at its finest.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Budget your Money</h2>
        <p>See how much you spend!
       
    </div>
    <div class="col-md-4">
        <h2>Track your Spending!</h2>
        <p>Where will you save next?</p>
       
    </div>
</div>